<header class="home" id="ysm_header">
  <div class="container">
    <div class="row">

      <div class="homepage_searchbar_container" >
        <div id="searchbar">
          <%=  render :partial => "/catalog/search_form" %>
        </div>
      </div>

    </div>
  </div>
</header>